# Configuración para Desarrollo Local
# PUBLIC_API_URL=http://localhost:8000

# Configuración para Producción (Vercel / Netlify / Cloudflare Pages)
PUBLIC_API_URL=https://tu-pos-api.up.railway.app
PUBLIC_SUPABASE_URL=https://obabigruajliljzympth.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9iYWJpZ3J1YWpsaWxqenltcHRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAxNTAwMDAwMH0.placeholder
